body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
}

li {
    margin-top: 10px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}